---
layout: musicalbum
title: {{ album.title }}
excerpt: |
    Download {{ album.title }} for free in FLAC, OGG, MP3, and AAC.
---

<h2>Download</h2>
<h3>Entire album, zipped</h3>
<ul>
    {% for zip, format in album.zips %}
    <li><a href="{{ zip }}">{{ format|upper }}</a></li>
    {% endfor %}
</ul>

<h3>Individual tracks</h3>
<ul>
    {% for format in album.formats %}
    <li><a href="{{ format }}">{{ format|upper }}</a></li>
    {% endfor %}
</ul>

<h2>Tracks</h2>
<ul>
    {% for song in album.songs %}
    <li>{{ song.artist }} - {{ song.title }}</li>
    {% endfor %}
</ul>

<h2>Artists</h2>
<ul>
    {% for artist in album.artists %}
    <li>{{ artist }}</li>
    {% endfor %}
</ul>

