---
layout: page
title: {{ album.title }}
excerpt: |
    Download {{ album.title }} for free in FLAC, OGG, MP3, and AAC.
---
<div class="grid_2 column side">
    <div class="section">
        <img class="album-cover" rel="lightbox" src="{{ album.images.0 }}" alt="{{ album.title }}" />
        <h3>Artists</h3>
        <ul>
            {% for artist in album.artists %}
            <li>{{ artist }}</li>{% endfor %}
        </ul>
    </div>
</div>

<div class="grid_8 column">
    {% set counter = 0 %}
    <ol>{% for song in album.songs %}
        <li>
        <dl>
            <dt>Title</dt>
            <dd>{{ song.title }}</dd>
            <dt>Artist</dt>
            <dd>{{ song.artist }}</dd>
        </dl>
        <audio controls="controls">
        <source src="q8/{{ album.formats.q8[counter].filename }}" type="audio/ogg" />
        <source src="v0/{{ album.formats.v0[counter].filename }}" type="audio/mpeg" />
        </audio>
        {% set counter = counter + 1 %}
        </li>{% endfor  %}
    </ol>
</div>

<div class="grid_2 column">
    <div class="section">
        <h2>Download</h2>
        <h3>Zipped</h3>
        <ul>
            {% for zip, format in album.zips %}
            <li><a href="{{ zip }}">{{ format|upper }}</a></li>{% endfor %}
        </ul>

        <h3>Tracks</h3>
        <ul>
            {% for format in album.formats %}
            <li><a href="{{ format }}">{{ format|upper }}</a></li>{% endfor %}
        </ul>
    </div>
</div>
