---
layout: page
title: Music
excerpt: |
    This page contains {{ albums|length }} free albums for download in FLAC, OGG, MP3, and AAC.
---
<div class="grid_2 column side">
	<div class="section">
        x
    </div>
</div>

<div class="grid_8 column postlist">
{% for album in albums %}
<article class="album">
<h1>
    <a href="{{ album.dirname }}/" rel="bookmark" title="{{ album }}">
        {{ album }}
	</a>
</h1>
	<time datetime="{{ album.date | date: "%Y-%m-%d" }}">{{ album.date | date: "%B %d, %Y" }}</time>
	{% if album.commentary %}
	{{ album.commentary }}
	{% endif %}
</article>
{% endfor %}
</div>

<div class="grid_2 column">
	<div class="section">
        x
    </div>
</div>
